[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchain = "*"
langchainhub = "*"
requests = "*"
black = "*"
langchain-openai = "*"
langchain-google-genai = "*"
python-dotenv = "*"
langchain-ollama = "*"

[dev-packages]

[requires]
python_version = "3.13"
